.page-caseDetails.page-case-7 .case-txt-img:after {
	background: #a4805d
}

.page-caseDetails.page-case-7 .case-section-logo .case-logo-bg {
	background: 0 0
}

.page-caseDetails.page-case-7 .case-section-logo .case-logo-bg .case-logo {
	background: url("../imgs/case1/case1-img-logo.png") center no-repeat;
	-webkit-background-size: contain;
	background-size: contain
}

.page-caseDetails.page-case-7 .case-section-4 {
	background: #48494a;
	height: 8.75em;
	margin-bottom: 4.45em
}

.page-caseDetails.page-case-7 .case-section-4 .case-step-speak {
	position: absolute;
	right: 2.3em;
	top: -2.88em;
	background: url("../imgs/case1/case1-img-speak.png") 0 0 no-repeat;
	width: 2.96em;
	height: 2.9em;
	-webkit-background-size: contain;
	background-size: contain
}

.page-caseDetails.page-case-7 .case-section-4 .case-step-decorate {
	position: absolute;
	left: 0;
	top: -1.78em;
	background: url("../imgs/case7/case7-img-decorate.png") 0 0 no-repeat;
	width: 4.8em;
	height: 9.94em;
	-webkit-background-size: contain;
	background-size: contain
}

.page-caseDetails.page-case-7 .case-section-4 .case-step-img {
	position: absolute;
	left: 50%;
	top: 4.12em;
	margin-left: -3.28em;
	background: url("../imgs/case7/case7-img-step.png") 0 0 no-repeat;
	width: 11.78em;
	height: 7.33em;
	-webkit-background-size: contain;
	background-size: contain
}

.page-caseDetails.page-case-7 .case-section-5 {
	height: 5em
}

.page-caseDetails.page-case-7 .case-section-5 .case-icon-img {
	position: absolute;
	top: .1em;
	right: -.6em;
	background: url("../imgs/case7/case7-img-icon.png") center no-repeat;
	width: 8.15em;
	height: 4.3em;
	-webkit-background-size: contain;
	background-size: contain
}

.page-caseDetails.page-case-7 .case-section-6 {
	height: 13.85em
}

.page-caseDetails.page-case-7 .case-section-6 .case-me-box {
	top: 1.45em;
	max-width: 3.1em;
	left: 2.1em
}

.page-caseDetails.page-case-7 .case-section-6 .case-me-img1 {
	position: absolute;
	right: 0;
	top: 0;
	background: url("../imgs/case7/case7-me-1.png") 0 0 no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	width: 13.08em;
	height: 10.67em
}

.page-caseDetails.page-case-7 .case-section-6 .case-me-img2 {
	position: absolute;
	right: 9.75em;
	top: 6.2em;
	background: url("../imgs/case1/case1-me-2.png") 0 0 no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	width: 7.28em;
	height: 5.72em
}

.page-caseDetails.page-case-7 .case-section-6 .case-me-img3 {
	position: absolute;
	right: 2.14em;
	top: 9.35em;
	background: url("../imgs/case1/case1-me-3.png") 0 0 no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	width: 8.64em;
	height: 7.9em
}

.page-caseDetails.page-case-7 .case-section-6 .case-me-img4 {
	position: absolute;
	right: 0;
	top: 5.15em;
	background: url("../imgs/case1/case1-me-4.png") 0 0 no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	width: 4.5em;
	height: 7.49em
}

.page-caseDetails.page-case-7 .case-section-7 {
	height: 11.75em
}

.page-caseDetails.page-case-7 .case-section-7 .case-badge-box {
	top: 0
}

.page-caseDetails.page-case-7 .case-section-7 .case-badge-img1 {
	position: absolute;
	right: 3.25em;
	top: 4.2em;
	background: url("../imgs/case7/case7-badge-1.png") 0 0 no-repeat;
	width: 4.39em;
	height: 4.28em;
	-webkit-background-size: contain;
	background-size: contain
}

.page-caseDetails.page-case-7 .case-section-7 .case-badge-img2 {
	position: absolute;
	left: -3.07em;
	top: 4.2em;
	background: url("../imgs/case7/case7-badge-2.png") 0 0 no-repeat;
	width: 10.21em;
	height: 6.5em;
	-webkit-background-size: contain;
	background-size: contain
}

.page-caseDetails.page-case-7 .case-section-8 {
	height: 11.54em
}

.page-caseDetails.page-case-7 .case-section-8 .case-web-img {
	position: absolute;
	left: 0;
	top: 0;
	background: url("../imgs/case7/case7-img-web.png") left center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	width: 11.96em;
	height: 100%
}

.page-caseDetails.page-case-7 .case-section-8 .case-web-box {
	left: 3.55em;
	top: 3.62em
}

@media all and (max-width:768px) {
	.page-case-7 .case-section-1 {
		background: url("../imgs/case5/case5-img-banner.jpg") center no-repeat;
		-webkit-background-size: cover;
		background-size: cover
	}

	.page-case-7 .case-section-1>img {
		display: none
	}

	.page-case-7 .case-section-6 {
		height: 545px!important
	}

	.page-case-7 .case-section-6 .flex-panel {
		display: none;
		width: 100%!important;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 150px 0 0;
		background: url("../imgs/case7/case7-me-mobile.jpg") center 150px no-repeat;
		-webkit-background-size: contain;
		background-size: contain
	}

	.page-case-7 .case-section-6 .flex-panel:first-child {
		display: block
	}

	.page-case-7 .case-section-7 {
		height: 500px!important;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 0 20px
	}

	.page-case-7 .case-section-7 .flex-panel:first-child {
		display: none!important
	}

	.page-case-7 .case-section-7 .flex-panel {
		background: url("../imgs/case6/case6-badge-2.png") center 200px no-repeat;
		-webkit-background-size: contain;
		background-size: contain;
		width: 100%!important;
		max-width: 100%!important
	}

	.page-case-7 .case-section-7 .case-badge-img2 {
		width: 100%!important;
		left: 0;
		top: 190px;
		background-position: center 0;
		background: none!important
	}

	.page-case-7 .case-web-box {
		top: -480px!important
	}

	.page-case-7 .case-section-8 {
		height: 600px!important;
		margin-bottom: 50px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 0 20px
	}

	.page-case-7 .case-section-8 .flex-panel:first-child {
		display: none
	}

	.page-case-7 .case-section-8 .flex-panel:last-child {
		width: 100%!important;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 200px 0 0;
		background: url("../imgs/case7/case7-img-web-mobile.jpg") center 200px no-repeat;
		-webkit-background-size: contain;
		background-size: contain
	}

	.page-case-7 .case-section-8 .flex-panel:last-child .case-web-box {
		top: 0!important;
		left: -20px!important
	}

}